* {
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    margin: 0;
  }
  body {
      font-family: "ABeeZee", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: large;
      background-color: var(--primary-color);
    }
    .vh {
        height: 100%;
    }
    nav {
        background-color: var(--secondary-color) ;
        color: var(--light-color);
        overflow: hidden;
    }
    nav a {
        color: var(--light-color);
        padding:20px;
        display:block;
        float: left; 
        text-decoration: none;       
    }
    nav a:hover {
        background-color: var(--light-color);
        color: var(--secondary-color);
    }
    .bmibox {
        border: 2px solid var(--secondary-color);
        border-radius: 10px;
        background-color: var(--light-color);
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

    }
    li {
        padding:10px;
        display: block;
        opacity:0.1;
    }
    li#underweight {
        background-color: var(--underweight-color);
    }
    li#overweight {
        background-color: var(--overweight-color);
    }
    li#optimum {
        background-color: var(--optimum-color);
    }
    li#obesity {
        background-color: var(--obesity-color);
    }
    .resultbox {
        border: none;
        border-radius: 10px;
        margin: 10px;
    }

